@model aspnet_core_tutorial.Models.Category

@{
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Update a category</div>
        <div class="panel-body">
            <div class="col-md-6">
                <form asp-action="Edit">
                    <div class="form-group">
                        <input asp-for="CategoryName" class="form-control">
                        <span asp-validation-for="CategoryName" class="invalid-feedback"></span>
                    </div>
                    <button type="submit" id="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div><!-- /.col-->